<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerente</title>
    <link rel="stylesheet" href="../Static/main.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c95f5e00b0.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Static/Img/LogoSolo.png">
</head>
<body>
    <nav>
        <span id="open-close"><i class='bx bx-menu'></i></span>
        <img src="../Static/Img/LogotipoBlan.png" alt="Arkitask" width="135px">
        <h1 id="titulo">GERENTE</h1>
    </nav>
    <aside id="aside" class="tabs">
        <div class="container-svg">
            <a href="#tab1" class="a">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                    <span class="span">Usuarios</span>
                </div>
            </a>
            <a href="#tab2" class="a">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M2.165 19.551c.186.28.499.449.835.449h15c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 11h-1V8c0-1.103-.897-2-2-2h-6.655L8.789 4H4c-1.103 0-2 .897-2 2v13h.007a1 1 0 0 0 .158.551zM18 8v3H6c-.4 0-.762.238-.919.606L4 14.129V8h14z"></path></svg>
                <span class="span">Proyectos</span>
            </div>
            </a>
            <a href="#tab3" class="a">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M19 4h-3V2h-2v2h-4V2H8v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 10H7v-2h5v2zm5-4H7V8h10v2z"></path></svg>
                <span class="span">Asistencia</span>
            </div>
            </a>
            <a href="#tab4" class="a">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm1.5 1H8c-3.309 0-6 2.691-6 6v1h15v-1c0-3.309-2.691-6-6-6z"></path><path d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z"></path></svg>
                <span class="span">Grupo de Trabajo</span>
            </div>
            </a>
 
            <a href="#tab6" class="a">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M4 2v18H3v2h4v-2H6v-5h13a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H6V2H4zm4 3v2h2V5h2v2h2V5h2v2h2v2h-2v2h2v2h-2v-2h-2v2h-2v-2h-2v2H8v-2H6V9h2V7H6V5h2z"></path><path d="M8 9h2v2H8zm4 0h2v2h-2zm-2-2h2v2h-2zm4 0h2v2h-2z"></path></svg>
                <span class="span">Entregables</span>
            </div>
            </a>
            <a id="salir" href="../index.html">
              Cerrar sesion
            </a>
        </div>
    </aside>
    <div class="sections" id="content">
        <!-- Menu Usuario -->
        <!-- Agregar buscador de usuarios -->
      <div class="columns is-mobile is-centered" id="usuario">
        <article id="tab1">
            <div class="card-header">
              <main class="main-content">
                <div class="crud-container">
                  <div class="crud-header">
                    <h1>Usuarios registrados</h1>
                    <button class="button is-success" id="openRegister">
                      <i class="fas fa-plus"></i>
                      <span>Registrar Usuario</span>
                    </button>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody id="studentsTable">
                      <tr>
                        <td>Allan</td>
                        <td>Barreto</td>
                        <td>Artunduaga</td>
                        <td>3123696687</td>
                        <td>allan@gmail.com</td>
                        <td>
                          <button class="button is-warning">
                            <i class="fas fa-pencil-alt"></i>
                          </button>
                          <button class="button is-danger">
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </main>
              <div class="modal" id="modal">
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Registrar Usuario</p>
                    <button class="delete" arial-label="close" id="closeRegisterModal"></button>
                  </header>
                  <section class="modal-card-body">
                    <!-- Content ... -->
                  <form id="register-form">
                      <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Escribe tu nombre" name="nombre">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Primer Apellido</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Escribe tu primer apellido" name="apePri">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Rol</label>
                        <div class="control">
                         <select  name="apeSeg" class="input">
                          <option>Encargado</option>
                          <option>Gerente</option>
                          <option>Administrador</option>
                          <option>Ingeniero</option>
                         </select>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Telefono</label>
                        <div class="control has-icons-left">
                          <input class="input" type="tel" placeholder="Escribe tu numero de telefono" name="cel">
                          <span class="icon is-small is-left">
                            <i class="fas fa-phone"></i>
                          </span>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Correo Elctronico</label>
                        <div class="control has-icons-left">
                          <input class="input" type="email" placeholder="Escribe tu correo electronico" name="email">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control">
                          <input class="input" type="password" name="descrip" placeholder="Escribe la Contraseña">
                        </div>
                      </div>
                  </section>
                  <footer class="modal-card-foot">
                    <button class="button is-success" type="submit">
                      <i class="fas fa-save"></i>
                      <span>Guardar Usuario</span>
                      </button>
                  </form>
                  </footer>
                </div>
              </div>
              <div class="modal" id="modal-update">
                <div class="modal-background"></div>
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Actualizar Usuario</p>
                    <button class="delete" arial-label="close" id="closeUpdateModal"></button>
                  </header>
                  <section class="modal-card-body">
                    <!-- Content ... -->
                  <form id="update-form">
                      <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Escribe tu nombre" name="nombre">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Primer Apellido</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Escribe tu primer apellido" name="apePri">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Segundo Apellido</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Escribe tu segundo apellido" name="apeSeg">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Telefono</label>
                        <div class="control has-icons-left">
                          <input class="input" type="tel" placeholder="Escribe tu numero de telefono" name="cel">
                          <span class="icon is-small is-left">
                            <i class="fas fa-phone"></i>
                          </span>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Correo Elctronico</label>
                        <div class="control has-icons-left">
                          <input class="input" type="email" placeholder="Escribe tu correo electronico" name="email">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Descripcion</label>
                        <div class="control">
                          <textarea class="textarea" placeholder="Textarea" name="descrip"></textarea>
                        </div>
                      </div>
                  </section>
                  <footer class="modal-card-foot">
                    <button class="button is-success" type="submit">
                      <i class="fas fa-save"></i>
                      <span>Actualizar Usuario</span>
                      </button>
                  </form>
                  </footer>
                </div>
              </div>
            </div>
        </article>
      </div>
      <!-- Menu proyectos -->
      <div class="columns is-mobile is-centered"> 
        <article id="tab2">
            <div class="card-header">
              <main class="main-content">
                <div class="crud-container">
                  <div class="crud-header">
                    <h1>Proyectos registrados</h1>
                    <button class="button is-success" id="openProyect">
                      <i class="fas fa-plus"></i>
                      <span>Agregar Proyecto</span>
                    </button>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre Proyecto</th>
                        <th>Codigo Proyecto</th>
                        <th>Fecha de Entrega</th>
                        <th>Fecha de Realización</th>
                        <th>Estado</th>
                      </tr>
                    </thead>
                    <tbody id="proyectTable">

                    </tbody>
                  </table>
                </div>
              </main>
              <div class="modal" id="modalProyect">
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Registrar Proyecto</p>
                    <button class="delete" arial-label="close" id="closeProyectModal"></button>
                  </header>
                  <section class="modal-card-body">
                    <!-- Content ... -->
                  <form id="proyect-form">
                      <div class="field">
                        <label class="label">Nombre del Proyecto</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Escribe el Nombre del Proyecto" name="nombrePro">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Fecha de Entrega</label>
                        <div class="control">
                          <input class="input" type="date" placeholder="Escribe tu primer apellido" name="fechEntrPro">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Fecha de Realización</label>
                        <div class="control">
                          <input class="input" type="date"  name="fechReaPro">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Estado</label>
                        <div class="control has-icons-left">
                          <select name="estaPro" class="input">
                            <option>Terminado</option>
                            <option>Proceso</option>
                            <option>Pendiente</option>
                          </select>
                          <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-right"></i>
                          </span>
                        </div>
                      </div>
                      
                  </section>
                  <footer class="modal-card-foot">
                    <button class="button is-success" type="submit">
                      <i class="fas fa-save"></i>
                      <span>Guardar Proyecto</span>
                      </button>
                  </form>
                  </footer>
                </div>
              </div>
            </div>
        </article>
      </div>
      <!-- Menu Asistencia-->
      <div class="columns is-mobile is-centered" id="asistencia"> 
        <article id="tab3">
            <div class="card-header">
              <main class="main-content">
                <div class="crud-container">
                  <div class="crud-header">
                    <h1>Asistencias</h1>
                    <button class="button is-success" id="openAsistencia">
                      <i class="fas fa-plus"></i>
                      <span>Agregar Asistencia</span>
                    </button>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Fecha de Ingreso</th>
                        <th>Hora de Ingreso</th>
                        <th>Fecha de Salida</th>
                        <th>Hora de Salida</th>
                      </tr>
                    </thead>
                    <tbody id="asistenciaTable">

                    </tbody>
                  </table>
                </div>
              </main>
              <div class="modal" id="modalAsistencia">
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Registrar Asistencia</p>
                    <button class="delete" arial-label="close" id="closeAsistenciaModal"></button>
                  </header>
                  <section class="modal-card-body">
                    <!-- Content ... -->
                  <form id="asistencia-form">
                      <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Escribe tu nombre" name="nombreAsis">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Fecha de Ingreso</label>
                        <div class="control">
                          <input class="input" type="date"  name="fechaIngAsis">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Hora de Ingreso</label>
                        <div class="control">
                          <input class="input" type="time"  name="horaIngAsis">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Fecha de Salida</label>
                        <div class="control has-icons-left">
                          <input class="input" type="date"  name="fechaSalAsis">
                          <span class="icon is-small is-left">
                            <i class="fas fa-phone"></i>
                          </span>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Hora de Salida</label>
                        <div class="control has-icons-left">
                          <input class="input" type="time"  name="horaSalAsis">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                        </div>
                      </div>
                      
                  </section>
                  <footer class="modal-card-foot">
                    <button class="button is-success" type="submit">
                      <i class="fas fa-save"></i>
                      <span>Guardar Asistencia</span>
                      </button>
                  </form>
                  </footer>
                </div>
              </div>
            </div>
        </article>
      </div>
      <!-- Menu Grupos de trabajo-->
      <div class="columns is-mobile is-centered" id="GrupoTrabajo"> 
        <article id="tab4">
            <div class="card-header">
              <main class="main-content">
                <div class="crud-container">
                  <div class="crud-header">
                    <h1>Lista de Grupos de Proyectos</h1>
                    <button class="button is-success" id="openGroup">
                      <i class="fas fa-plus"></i>
                      <span>Agregar Nuevo Grupo</span>
                    </button>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Codigo</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Desactivación</th>
                        <th>Cantidad de Integrantes</th>
                      </tr>
                    </thead>
                    <tbody id="groupTable">

                    </tbody>
                  </table>
                </div>
              </main>
              <div class="modal" id="modalGroup">
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Registrar Nuevo Grupo</p>
                    <button class="delete" arial-label="close" id="closeGroupModal"></button>
                  </header>
                  <section class="modal-card-body">
                    <!-- Content ... -->
                  <form id="group-form">
                      <div class="field">
                        <label class="label">Fecha de Inicio</label>
                        <div class="control">
                          <input class="input" type="date" name="fechaIniGroup">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Fecha de Desactivación</label>
                        <div class="control">
                          <input class="input" type="date"  name="fechaDesGroup">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Cantidad de Participantes</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Escribe la Cantidad de Participantes" name="canGroup">
                        </div>
                      </div>
                      
                  </section>
                  <footer class="modal-card-foot">
                    <button class="button is-success" type="submit">
                      <i class="fas fa-save"></i>
                      <span>Guardar Asistencia</span>
                      </button>
                  </form>
                  </footer>
                </div>
              </div>
            </div>
        </article>
      </div>
      <!-- Menu Entregables -->
      <div class="columns is-mobile is-centered" id="entregables"> 
        <article id="tab6">
            <div class="card-header">
              <main class="main-content">
                <div class="crud-container">
                  <div class="crud-header">
                    <h1>Listado de Entregables</h1>
                     <button class="button is-success" id="openEntre" hidden>
                      <i class="fas fa-plus"></i>
                      <span>Registrar Entregable</span>
                    </button>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre Actividad</th>
                        <th>Fecha de Entrega</th>
                        <th>Descripcion Actividad</th>
                        <th>Imagen Entregable</th>
                        <th>Comentarios</th>
                        <th>Estado</th>
                      </tr>
                    </thead>
                    <tbody id="entregablesTable">

                    </tbody>
                  </table>
                </div>
              </main>
            </div>
        </article>
      </div>
    </div>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../Static/JavaScript/apps/app.js"></script>
  <script src="../Static/JavaScript/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>